@import './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Manrope', sans-serif;
	min-height: 100vh;
 overflow-x:hidden; 
	display: flex;
	flex-direction: column;
	background-image: url(../images/bg-pattern.svg);
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
}
