@import './variables';

.container {
	text-align: center;
	height: 100vh;
	padding: 4rem 2rem;
	width: 360px;
  

	.header {
		background-image: url(../images/pattern-circles.svg);
		background-repeat: no-repeat;
		background-position: center;
		height: 160px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 0.5rem;
		margin-bottom: 2rem;


		.title {
			margin-bottom: 0.5rem;
		}

		p {
			font-size: 1.5rem;
			color: $text;
		}
	}

	.content {
		background-color: $pricing-component-bg;
		border-radius: 1.2rem;
		padding: 3rem 0rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

		.content-title {
			color: $text;
			text-transform: uppercase;
			font-size: 1.5rem;
			letter-spacing: 1.5px;
			margin-bottom: 3rem;
		}

		.slider {
			margin-bottom: 3rem;

			#price-slider {
				width: 85%;
				-webkit-appearance: none;
				height: 1rem;
				border-radius: 5px;
				background: linear-gradient(
					to right,
					hsl(174, 77%, 80%) 0%,
					hsl(174, 77%, 80%) 50%,
					hsl(224, 65%, 95%) 0%,
					hsl(224, 65%, 95%) 100%
				);
			}

			#price-slider::-webkit-slider-thumb {
				-webkit-appearance: none;
				height: 4rem;
				width: 4rem;
				border-radius: 50%;
				background-color: $slider-background;
				background-image: url('../images/icon-slider.svg');
				background-repeat: no-repeat;
				background-position: center;
				box-shadow: 0px 7px 10px 4px rgba(16, 213, 194, 0.2);

				&:hover {
					background-color: $full-slide-bar;
				}
			}
		}

		.price-mobile-vw {
			text-align: center;
			margin-bottom: 3rem;
			display: flex;
			align-items: center;
			justify-content: center;

			p {
				font-size: 3.2rem;
				font-weight: 800;
			}

			.per {
				font-size: 1.5rem;
				color: $text;
			}
		}

    .price-dsk-vw {
      display: none;
    }

		.billing {
			padding-bottom: 3rem;
			border-bottom: 1px solid hsl(240, 2%, 92%);
			text-align: center;
			display: inline;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1rem;

			p {
				font-size: 1.2rem;
				color: $text;
			}

			.discount-container {
				padding: 0.25rem 1rem;
				background-color: $discount-background;
				color: $discount-text;
				border-radius: 25px;

         .discount {
            display: none;
          }
			}

			.switch input {
				opacity: 0;
			}

			.switch {
				display: inline-block;
				width: 3.75rem;
				height: 2rem;
				position: relative;
			}

			.toggle-slider {
				position: absolute;
				background-color: $toggle-bg;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: 2.5rem;
				transition: all 0.4s ease-in-out;
			}

			.toggle-slider:hover {
				background-color: $slider-background;
			}

			.toggle-slider::before {
				content: '';
				position: absolute;
				background-color: #fff;
				height: 1.4rem;
				width: 1.4rem;
				border-radius: 50%;
				left: 3px;
				top: 3px;
				transition: all 0.4s ease-in-out;
			}

			.switch input:checked + .toggle-slider:before {
				transform: translateX(18px);
			}
		}

		hr {
			border: none;
		}

		.footer {
			ul {
				margin-top: 3rem;
				display: flex;
				flex-direction: column;
				gap: 1rem;
				margin-bottom: 3rem;

				li {
					list-style: none;
					display: flex;
					justify-content: center;
					gap: 1rem;
					align-items: center;
					font-size: 1.2rem;
					color: $text;
					font-weight: 600;
				}
			}
		}

		.btn {
			border: none;
			border-radius: 25px;
			padding: 1.75rem 5rem;
			background-color: $text-and-cta-bg;
			color: $CTA-text;
			font-weight: 800;
			font-size: 1.5rem;
		}
	}
}
